body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}








* {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 3em;
  font-weight: 500;
  color: rgb(255, 100, 100);
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
}

.skills {
  font-size: 1.2em;
  display: inline-block;
  background-color: rgb(255, 100, 100, 0.1);
  padding: 10px;
  border-radius: 5px;
  box-shadow:
      1.4px 1.4px 2.2px rgba(0, 0, 0, 0.02),
      3.3px 3.3px 5.3px rgba(0, 0, 0, 0.028),
      6.3px 6.3px 10px rgba(0, 0, 0, 0.035),
      11.2px 11.2px 17.9px rgba(0, 0, 0, 0.042),
      20.9px 20.9px 33.4px rgba(0, 0, 0, 0.05),
      50px 50px 80px rgba(0, 0, 0, 0.07);
  margin: 5px;
  text-align: center;
  transition: 200ms;
}

.skills:hover {
  background-color: rgb(255, 100, 100, 0.3);
  transition: 200ms;
}

@media (max-width: 700px) {
  h2 {
      font-size: 2.5em;
  }

}

@media (max-width: 500px) {
  h2 {
      font-size: 2em;
  }

}

@media (max-width: 250px) {
  h2 {
      font-size: 1.5em;
  }

}