#projects  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

#projects__title {
    margin: 20px 0 20px;
}

#projects__intro  {
    margin-bottom: 100px;
}

#projects article {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.project__gallery img {
    height: 300px;
}

.project__comment {
    padding: 0 50px 0 50px;
}